body{
    background: rgb(100, 34, 255)
}

.plus {
    position: absolute;
    left: 90%;
    z-index: 1;
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    line-height: 0.3em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px rgba(0, 255, 255, 0.3);
    font-size: 300%;
    font-weight: 900;
    color: #000;
    border-radius: 100%;
    background: rgb(45, 47, 177) linear-gradient(rgb(0, 217, 255), rgb(45, 47, 177));
    box-shadow:
     inset 0 -2px 1px rgba(0,0,0,.5),
     inset 0 2px 1px rgba(0, 225, 255, 0.9),
     0 4px 4px rgba(0,0,0,.9);
  }
  .plus:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 12%;
    left: 12%;
    right: 12%;
    bottom: 12%;
    border-radius: 100%;
    background: rgb(62, 66, 255) linear-gradient(rgb(62, 96, 255), rgb(62, 66, 255));
    box-shadow:
     inset 0 2px 1px rgba(0,0,0,.5),
     inset 0 -2px 1px rgba(255,255,255,.3);
  }